<div class="container">
<div>
<form  [formGroup]="formLogin" (submit)="send()">
    <h1 class="text-center text-black">Formulario</h1>
    <hr>
    <div class="mb-3">
      <label for="email" class="form-label">Email address:</label>
      <input type="email" formControlName="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" formControlName="password" class="form-control" id="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="term">
      <label class="form-check-label" formControlName="term" for="term">Check me out</label>
    </div>
    <button type="submit" class="btn btn-info" [disabled]="formLogin.invalid">Submit</button>
  </form>
</div>

</div>